* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80px;
    margin-top: 80px;
    background-color: #131313;
}

.navbar, ul, li, img {
    display: inline-flex;
    justify-content: space-around;
    gap: 5px;
    width: 30px;
    text-decoration: none;
    font-size: 25px;
    margin-left: -80%;
}


#picture__input {
    display: none;
}

.picture {
    width: 100px;
        background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border-radius: 50%;
    cursor: pointer;
    font-family: sans-serif;
   
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}